*{
	box-sizing: border-box;

	&:before,
	&:after{
		box-sizing: border-box;
	}
}

@import (less) "import.variable.less";
@import (less) "import.tools.less";
@import (less) "mod-settings.less";
@import (less) "option.less";
.controls-box {
	width: 388px;
	//height: 655px;
	position: relative;
	overflow: auto;
}