.mod-arrow__config() {
  border-width:4px;
  border-style:solid dashed dashed;
  border-color:#6a6a7d;
  position:absolute;
}

//v2 样式框上tag样式
.mod-tag-list(@lineHeight) {
  .mod-tag {
    &-list {
      line-height:@lineHeight;
      text-align:center;
      font-size:0;
    }

    &-item {
      width:86px;
      display:inline-block;
      margin:0 15px;
      font-size:16px;
      color:#666681;

      &:hover,
      &.active {
        background:#000;
        color:#fff;
        text-decoration:none;
      }
    }
  }
}

//v2 各种个性化控件
.controls() {

  .ind {

    //input
    &-input {
      font-size:14px;
      height:26px;
      line-height:26px;

      input {
        width:100%;
        padding:0 4px;
        height:26px;
        line-height:24px;
        background:transparent;
        border:1px solid @app-config-border-color;

        &:focus {
          outline:@ind-border-color__focus solid 2px;
          background:@ind-bg-color__focus;
        }
      }
    }

    //textarea
    &-textarea {
      font-size:14px;

      textarea {
        width:100%;
        line-height:26px;
        height:74px;
        resize:none;
        background:transparent;
        overflow:auto;
        padding:0 4px;
        border:1px solid @app-config-border-color;

        &:focus {
          outline:@ind-border-color__focus solid 2px;
          background:@ind-bg-color__focus;
        }
      }
    }

    //select
    &-select {
      font-size:14px;
      height:26px;
      line-height:26px;
      position:relative;

      &:after {
        content:"";
        width:30px;
        height:30px;
        background:url("@{v2-sprite}") no-repeat -120px -120px;
        position:absolute;
        right:-3px;
        top:-2px;
      }

      select {
        -webkit-appearance:none;
        width:100%;
        height:26px;
        line-height:24px;
        padding:0 4px;
        background:transparent;
        border:1px solid @app-config-border-color;
        border-radius:0;
        text-align:center;
        cursor:pointer;

        &:focus {
          outline:@ind-border-color__focus solid 2px;
        }
      }
    }

    //input type=radio
    &-radio {
      margin-bottom:0;
      -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
      cursor:pointer;

      input[type="radio"] {
        -webkit-appearance:none;
        display:inline-block;
        width:18px;
        height:18px;
        vertical-align:middle;
        position:relative;
        border:1px solid @app-config-border-color;
        border-radius:2px;
        margin:0 8px 0 0;
        cursor:pointer;

        &:checked {
          border-color:#5ccd0a;
          background-color:#5ccd0a;

          &:after {
            content:"";
            width:18px;
            height:18px;
            position:absolute;
            top:-1px;
            left:-1px;
            z-index:1;

            background:url("@{v2-sprite}") no-repeat -96px -126px;
          }
        }

        &:focus {
          outline:none;
        }
      }

      &_txt {
        font-size:14px;
        vertical-align:middle;
        color:#666681;
      }
    }

    //input type=checkbox
    &-checkbox {
      margin-bottom:0;
      -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
      cursor:pointer;
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;

      input[type="checkbox"] {
        -webkit-appearance:none;
        display:inline-block;
        width:40px;
        height:18px;
        vertical-align:middle;
        position:relative;
        border:1px solid @app-config-border-color;
        background-color:#fff;
        border-radius:18px;
        margin:0 8px 0 0;
        cursor:pointer;

        &:after {
          content:"";
          width:10px;
          height:10px;
          position:absolute;
          left:4px;
          top:3px;
          z-index:1;
          border:1px solid @app-config-border-color;
          border-radius:10px;
          background-color:#fff;

          transition:transform .3s ease-out;

          transform:translate3d(0, 0, 0);
        }

        &:checked {
          border-color:#5ccd0a;

          &:after {
            border-color:#5ccd0a;
            background-color:#5ccd0a;

            transform:translate3d(20px, 0, 0);
          }
        }

        &:disabled {
          cursor:not-allowed;
        }

        &:focus {
          outline:none;
        }
      }

      &_txt {
        font-size:14px;
	      margin: 0 8px 0 0;
        color:#666681;
      }
    }

    &-slider {
	    flex: 1;
	    display: flex;
	    justify-content: flex-start;
	    align-items: center;

      .ui-slider {
        flex: 1;
        margin-right:14px;
        height:6px !important;
        border-color:#d0d3da !important;

        &-range {
          height:6px !important;
          background:@ind-border-color__focus !important;
          top:-1px;
          left:-1px;
        }

        &-handle {
          width:18px !important;
          height:18px !important;
          border-radius:10px !important;
          border:1px solid @ind-border-color__focus !important;
          top:-7px;
          margin-left:-7px;
          background:#fff;

          &:focus {
            outline:none;
          }
        }

      }

      .ui-state {
        &-focus,
        &-hover,
        &-active {
          border-color:@ind-border-color__focus !important;
          background:@ind-border-color__focus !important;
        }
      }

      .slider-ipt {
        font-size:14px;
        width:62px;
        padding:0 4px;
        height:26px;
        line-height:24px;
        background:transparent;
        border:1px solid @app-config-border-color;
        vertical-align:middle;

        &:focus {
          outline:@ind-border-color__focus solid 2px;
        }
      }
    }

	  &-upload{
		  flex: 1;
		  font-size: 14px;
		  height: 26px;
		  line-height: 26px;
		  display: flex;
		  justify-content: flex-start;
		  align-items: center;

		  input{
			  flex: 1;

			  padding: 0 4px;
			  height: 26px;
			  line-height: 24px;
			  background: transparent;
			  border: 1px solid @app-config-border-color;

			  &:focus {
				  outline: @ind-border-color__focus solid 2px;
				  background: @ind-bg-color__focus;
			  }
		  }

		  .ind-btn{
			  flex: 0 1 auto;
			  width: 80px;
		  }
	  }

    &-btn {
	    flex: 1;
      display:block;
      height:26px;
      line-height:26px;
      background-color:#b7bdc7;
      color:#fff;
      text-align:center;
      font-size:14px;
	    border: none;
	    padding: 0;

      &:hover,
      &:focus {
        background-color:#5ccd0a;
        color:#fff;
        text-decoration:none;
        outline:none;
      }
    }

    //按钮选项
    &-opt {
      display:inline-block;
      height:28px;
      padding:0 8px;
      margin:0 4px 0 0;
      line-height:28px;
      background-color:#b7bdc7;
      border:none;
      color:#fff;
      text-align:center;
      font-size:14px;

      &__active,
      &:hover,
      &:focus {
        background-color:#5ccd0a;
        color:#fff;
        text-decoration:none;
        outline:none;
      }
    }

	  //富文本编辑器
	  &-rich{

		  &-box{
			  //height: 150px;
			  //max-height: 150px;

			  .edui-editor{
				  div{
					  line-height: 1;
				  }
			  }
		  }
	  }

	  //代码编辑器
	  &-code{
		  height: 320px;
		  overflow: auto;

		  &-box{

		  }
	  }
  }

}

//v2 对齐方式
.mod-layout-grid() {
  //
  // @layout-grid
  //----------------------------------------------
  .layout-grid {
    width:100%;
    background:none;
    table-layout:fixed;
    border-collapse:separate;
    border-spacing:2px;
    margin-bottom:14px;

    td {
      padding:0;
      margin:0;
    }

    input {
      display:block;
      width:100%;
      height:32px;
      margin:0;
      border:1px solid #d5dbe5;
      background-color:transparent;
      background-image:url("/img/v2/grid-arrow.png");
      background-repeat:no-repeat;
      -webkit-appearance:none;
      cursor:pointer;

      &:checked {
        border-color:#5ccd0b;
        background-color:#f6ffef;
      }

      &:focus {
        outline:none;
      }
    }

    &_pos {
      &__lt {
        background-position:center 0;

        &:checked {
          background-position:center -32px * 9;
        }
      }

      &__ct {
        background-position:center -32px;

        &:checked {
          background-position:center -32px * 10;
        }
      }

      &__rt {
        background-position:center -32px * 2;

        &:checked {
          background-position:center -32px * 11;

        }
      }

      &__lc {
        background-position:center -32px * 3;

        &:checked {
          background-position:center -32px * 12;
        }
      }

      &__cc {
        background-position:center -32px * 4;

        &:checked {
          background-position:center -32px * 13;
        }
      }

      &__rc {
        background-position:center -32px * 5;

        &:checked {
          background-position:center -32px * 14;
        }
      }

      &__lb {
        background-position:center -32px * 6;

        &:checked {
          background-position:center -32px * 15;
        }
      }

      &__cb {
        background-position:center -32px * 7;

        &:checked {
          background-position:center -32px * 16;
        }
      }

      &__rb {
        background-position:center -32px * 8;

        &:checked {
          background-position:center -32px * 17;
        }
      }
    }

  }
  // #layout-grid
}
