@header_height: 70px;
@sidebar_width: 320px;
@option_width: 350px;
@controls_height: 280px;
@border_color: #121212;
@sidebar_bgcolor: #eff5f9;
@sidebar_bgcolor_alpha: rgba(35, 35, 46, .95);
@header_color: #23232e;
@sidebar_add_height: 68px;
@sidebar_add_bgcolor: #22b834;
@page-item_height: 106px;
@page-item_bg__active: #5ccd0a;
@header-toolbar-font-color: #5ccd0a;
@app-config-border-color: #d5dbe5;
@ind-border-color__focus: #5ccd0b;
@ind-bg-color__focus: #f6ffef;
@v2-sprite: "/img/v2/sprites.png";
@editor-mask-zIndex: 99;
@editor-hasMask-zIndex: 100;

@mod-settings-border-color: #c0c6ce;