.mod-settings {
  position:fixed;
  z-index:@editor-hasMask-zIndex;
  width:410px;
  top:40px;
  right:40px;
  bottom:40px;
  border:1px solid @mod-settings-border-color;
  border-radius:4px;
  background:#fff;
  box-shadow:0 0 24px 0 rgba(0, 0, 0, .11);

  &.ui-draggable {
    &-dragging {
      cursor:move;
    }
  }

  &-box {
    border-top:4px solid @ind-border-color__focus;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }

  &-hd {
    padding:17px 0;
    margin:0 10px;
    height:73px;
    border-bottom:1px solid @app-config-border-color;
    cursor:move;
  }

  &-bd {
    position:absolute;
    top:73px;
    bottom:0;
    right:10px;
    left:10px;
    overflow:auto;
    padding:15px;

    //-------------@滚动条样式-------------
    //author:harrischen
    //date:2015-11-17 12:35
    &::-webkit-scrollbar {
      width:4px;
      height:12px;
    }
    &::-webkit-scrollbar-button:vertical {
      display:none;
    }
    &::-webkit-scrollbar-track:vertical {
      background-color:#000;
    }
    &::-webkit-scrollbar-track-piece {
      background:#fff;
    }
    &::-webkit-scrollbar-thumb:vertical {
      background:#fafafa;
      border-radius:5px;
    }
    &::-webkit-scrollbar-thumb:vertical:hover {
      background:#999;
    }
    &::-webkit-scrollbar-corner:vertical {
      background-color:#666;
    }
    //#滚动条样式

    .mod-settings__list &,
    .mod-settings__custom & {
      top:10px;
    }

    &_item {
      display:none;

      &.active {
        display:block;
      }
    }
  }

  &-close {
    width:22px;
    height:18px;
    cursor:pointer;
    background:@ind-border-color__focus url("@{v2-sprite}") no-repeat -154px -126px;
    position:absolute;
    right:0;
    top:0;
  }

  .ctrl-row {
    padding-left:92px;
    .title {
      width:92px;
    }
  }

  .mod-img-info_info {
    .ctrl-row {
      padding-left:72px;
      .title {
        width:72px;
      }
    }

    .mod-settings-dib-input {
      width:122px;
      &__color {
        width:50px;
      }
    }

    .ind-select {
      &.width__short {
        width:134px;
      }
    }
  }

  &-dib {
    &-input {
      display:inline-block;
      width:178px;
      vertical-align:middle;
      position:relative;

      &__color {
        width:70px;
        display:inline-block;
        vertical-align:middle;
        margin-right:10px;
      }
    }

    &-checkbox {
      display:inline-block;
      vertical-align:middle;
    }
  }
}

@import (less) "import.tools.less";
.mod-tag-list(38px);

.mod-layout-grid();

//
// @自定义html/css/js所需样式
//----------------------------------------------
.custModAceWrap{
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 320px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	.glyphicon-save{
		z-index: 10;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 40px;
		color: #fff;
		
		&:hover{
			text-decoration: none;
			color: #5ccd0a;
		}
	}
}
.custModAceTitle{
	color: #fff;
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
	z-index: 1;
}
.custModAceBox{
	position: relative;
	width: 95%;
	height: 90%;
	z-index: 1;
	overflow: auto;
}
.custModAceEditor{
	min-height: 100%;
}
.custModAceMask{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background-color: rgba(0, 0, 0, .9);
}
// #自定义html/css/js所需样式
@import (less) "datetimepicker.less";