/**
 * 模块名称:设置区域;
 * author:joneshe@tencent.com;
 */
// *************************************************
// v2 style
// 模块名称：设置区域
// author: joneshe@tencent.com
// *************************************************

// *************************************************
// v2 new style
// *************************************************

.app-config {
	width: 488px;
	position: fixed;
	top: @header_height;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: @editor-hasMask-zIndex + 1;

	padding: 20px;

	transform: translate3d(100%, 0, 0);
	transition: transform .3s ease-in;
	overflow: auto;

	&__page {
		width: 294px;
	}

	&.active {
		transform: translate3d(0, 0, 0);
	}

	.timer-loader {
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		position: absolute;
		margin: auto;
	}

	&-box {

	}

	&-item {
		border-bottom: 1px solid @app-config-border-color;
		margin-bottom: 15px;

		&:nth-last-child(1) {
			border-bottom: none;
		}

		&_hd {
			line-height: 24px;
			height: 24px;
			position: relative;
			padding-left: 22px;
			margin-bottom: 18px;
			z-index: 1;
			background: #fff;
			cursor: pointer;
			font-size: 16px;
			-webkit-user-select: none;

			.icon-arrow {
				width: 30px;
				height: 30px;
				position: absolute;
				top: -3px;
				left: -4px;

				transform: rotate(-90deg) translateZ(0);
				transition: transform .3s linear;
			}
		}

		&_bd {
			position: relative;
			z-index: 0;
			display: none;
			padding-bottom: 20px;

			.width {
				&__mini {
					width: 80px;
				}

				&__short {
					width: 130px;
				}

				&__mid {
					width: 160px;
				}
			}

		}

		&_inner {
			float: left;
			margin-left: 22px;
		}

		&_checkbox {
			float: left;
			margin-right: 20px;
		}

		&__active {
			.app-config-item_hd {
				.icon-arrow {
					transform: rotate(0deg) translateZ(0);
				}
			}
			.app-config-item_bd {
				display: block;
			}
		}
	}

	&-dib {
		&-checkbox {
			width: 48px;
		}

		&-input {
			flex: 1;
			position: relative;
		}

		&-delete {
			width: 30px;
			height: 30px;
			position: absolute;
			right: -3px;
			top: 50%;
			margin-top: -15px;
			cursor: pointer;
		}
	}

}
.mod-settings {
	&-dib {
		&-input {
			width: 100px;

			&__color {
				width: 70px;
				margin-right: 10px;
			}
		}

		&-checkbox {

		}
	}
}
.ctrl-row {
	line-height: 26px;
	margin-bottom: 14px;
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	.title {
		width: 76px;
		height: 26px;

		color: #666681;
		font-size: 14px;
		font-weight: 400;
	}

	.box {
		flex: 1;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		&:after {
			content: "";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
}
.multi-row {
	line-height: 26px;
	margin-bottom: 14px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.title {
		width: 100%;
		height: 26px;
		color: #666681;
		font-size: 14px;
		font-weight: 400;
		display: block;
	}

	.box {
		width: 100%;

		&:after {
			content: "";
			display: block;
			height: 0;
			clear: both;
			visibility: hidden;
		}
	}
}
//图文模块，一般是左图右文
.mod-img-info {
	&:after {
		content: "";
		height: 0;
		clear: both;
		overflow: hidden;
		display: table;
	}

	&_img {
		float: left;
		width: 80px;
		height: 124px;
		margin-right: 20px;
		position: relative;
		border: 2px solid #ccc;

		&.all {
			width: 124px;
		}

		.img {
			width: 100%;
			height: 120px;
			//background-color: #5ccd0a;
			background-color: transparent;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
		}

		.title {
			position: absolute;
			z-index: 1;
			bottom: 0;
			right: 0;
			left: 0;
			line-height: 28px;
			color: #fff;
			font-size: 12px;
			text-align: center;
			background: rgba(0, 0, 0, .3);

			cursor: pointer;
		}

		.icon-clean {
			position: absolute;
			right: -3px;
			top: -3px;
			width: 30px;
			height: 30px;
			z-index: 1;
			cursor: pointer;
		}
	}

	&_info {
		overflow: hidden;

	}
}
//控件初始化
.controls();
