* {
	box-sizing: border-box
}
*:before, *:after {
	box-sizing: border-box
}
.mod-settings {
	position: fixed;
	z-index: 100;
	width: 410px;
	top: 40px;
	right: 40px;
	bottom: 40px;
	border: 1px solid #c0c6ce;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.11)
}
.mod-settings.ui-draggable-dragging {
	cursor: move
}
.mod-settings-box {
	border-top: 4px solid #5ccd0b;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}
.mod-settings-hd {
	padding: 17px 0;
	margin: 0 10px;
	height: 73px;
	border-bottom: 1px solid #d5dbe5;
	cursor: move
}
.mod-settings-bd {
	position: absolute;
	top: 73px;
	bottom: 0;
	right: 10px;
	left: 10px;
	overflow: auto;
	padding: 15px
}
.mod-settings-bd::-webkit-scrollbar {
	width: 4px;
	height: 12px
}
.mod-settings-bd::-webkit-scrollbar-button:vertical {
	display: none
}
.mod-settings-bd::-webkit-scrollbar-track:vertical {
	background-color: #000
}
.mod-settings-bd::-webkit-scrollbar-track-piece {
	background: #fff
}
.mod-settings-bd::-webkit-scrollbar-thumb:vertical {
	background: #fafafa;
	border-radius: 5px
}
.mod-settings-bd::-webkit-scrollbar-thumb:vertical:hover {
	background: #999
}
.mod-settings-bd::-webkit-scrollbar-corner:vertical {
	background-color: #666
}
.mod-settings__list .mod-settings-bd, .mod-settings__custom .mod-settings-bd {
	top: 10px
}
.mod-settings-bd_item {
	display: none
}
.mod-settings-bd_item.active {
	display: block
}
.mod-settings-close {
	width: 22px;
	height: 18px;
	cursor: pointer;
	background: #5ccd0b url("/img/v2/sprites.png") no-repeat -154px -126px;
	position: absolute;
	right: 0;
	top: 0
}
.mod-settings .ctrl-row {
	padding-left: 92px
}
.mod-settings .ctrl-row .title {
	width: 92px
}
.mod-settings .mod-img-info_info .ctrl-row {
	padding-left: 72px
}
.mod-settings .mod-img-info_info .ctrl-row .title {
	width: 72px
}
.mod-settings .mod-img-info_info .mod-settings-dib-input {
	width: 122px
}
.mod-settings .mod-img-info_info .mod-settings-dib-input__color {
	width: 50px
}
.mod-settings .mod-img-info_info .ind-select.width__short {
	width: 134px
}
.mod-settings-dib-input {
	display: inline-block;
	width: 178px;
	vertical-align: middle;
	position: relative
}
.mod-settings-dib-input__color {
	width: 70px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px
}
.mod-settings-dib-checkbox {
	display: inline-block;
	vertical-align: middle
}
.mod-tag-list {
	line-height: 38px;
	text-align: center;
	font-size: 0
}
.mod-tag-item {
	width: 86px;
	display: inline-block;
	margin: 0 15px;
	font-size: 16px;
	color: #666681
}
.mod-tag-item:hover, .mod-tag-item.active {
	background: #000;
	color: #fff;
	text-decoration: none
}
.layout-grid {
	width: 100%;
	background: none;
	table-layout: fixed;
	border-collapse: separate;
	border-spacing: 2px;
	margin-bottom: 14px
}
.layout-grid td {
	padding: 0;
	margin: 0
}
.layout-grid input {
	display: block;
	width: 100%;
	height: 32px;
	margin: 0;
	border: 1px solid #d5dbe5;
	background-color: transparent;
	background-image: url("/img/v2/grid-arrow.png");
	background-repeat: no-repeat;
	-webkit-appearance: none;
	cursor: pointer
}
.layout-grid input:checked {
	border-color: #5ccd0b;
	background-color: #f6ffef
}
.layout-grid input:focus {
	outline: none
}
.layout-grid_pos__lt {
	background-position: center 0
}
.layout-grid_pos__lt:checked {
	background-position: center -288px
}
.layout-grid_pos__ct {
	background-position: center -32px
}
.layout-grid_pos__ct:checked {
	background-position: center -320px
}
.layout-grid_pos__rt {
	background-position: center -64px
}
.layout-grid_pos__rt:checked {
	background-position: center -352px
}
.layout-grid_pos__lc {
	background-position: center -96px
}
.layout-grid_pos__lc:checked {
	background-position: center -384px
}
.layout-grid_pos__cc {
	background-position: center -128px
}
.layout-grid_pos__cc:checked {
	background-position: center -416px
}
.layout-grid_pos__rc {
	background-position: center -160px
}
.layout-grid_pos__rc:checked {
	background-position: center -448px
}
.layout-grid_pos__lb {
	background-position: center -192px
}
.layout-grid_pos__lb:checked {
	background-position: center -480px
}
.layout-grid_pos__cb {
	background-position: center -224px
}
.layout-grid_pos__cb:checked {
	background-position: center -512px
}
.layout-grid_pos__rb {
	background-position: center -256px
}
.layout-grid_pos__rb:checked {
	background-position: center -544px
}
.custModAceWrap {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 320px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}
.custModAceWrap .glyphicon-save {
	z-index: 10;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 40px;
	color: #fff
}
.custModAceWrap .glyphicon-save:hover {
	text-decoration: none;
	color: #5ccd0a
}
.custModAceTitle {
	color: #fff;
	font-size: 28px;
	line-height: 36px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
	position: relative;
	z-index: 1
}
.custModAceBox {
	position: relative;
	width: 95%;
	height: 90%;
	z-index: 1;
	overflow: auto
}
.custModAceEditor {
	min-height: 100%
}
.custModAceMask {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	background-color: rgba(0, 0, 0, 0.9)
}
/*!
 * Datetimepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Improvements by Andrew Rowls
 * Improvements by Sébastien Malot
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datetimepicker {
	padding: 4px;
	margin-top: 1px;
	white-space: normal;
	border-radius: 4px;
	direction: ltr
}
.datetimepicker.datetimepicker-rtl {
	direction: rtl
}
.datetimepicker.datetimepicker-rtl table tr td span {
	float: right
}
.datetimepicker > div {
	display: none
}
.datetimepicker.minutes div.datetimepicker-minutes {
	display: block
}
.datetimepicker.hours div.datetimepicker-hours {
	display: block
}
.datetimepicker.days div.datetimepicker-days {
	display: block
}
.datetimepicker.months div.datetimepicker-months {
	display: block
}
.datetimepicker.years div.datetimepicker-years {
	display: block
}
.datetimepicker table {
	margin: 0
}
.datetimepicker table tr td.minute:hover {
	background: #eee;
	cursor: pointer
}
.datetimepicker table tr td.hour:hover {
	background: #eee;
	cursor: pointer
}
.datetimepicker table tr td.day:hover {
	background: #eee;
	cursor: pointer
}
.datetimepicker table tr td span {
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
	border-radius: 4px
}
.datetimepicker table tr td span:hover {
	background: #eee
}
.datetimepicker table tr td span.old {
	color: #999
}
.datetimepicker .datetimepicker-hours span {
	height: 26px;
	line-height: 26px
}
.datetimepicker .datetimepicker-minutes span {
	height: 26px;
	line-height: 26px
}
.datetimepicker th.switch {
	width: 145px
}
.datetimepicker-inline {
	width: 220px
}
.datetimepicker-dropdown, .datetimepicker-dropdown-left {
	top: 0;
	left: 0
}
[class*="datetimepicker-dropdown"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #ccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute
}
[class*="datetimepicker-dropdown"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position: absolute
}
[class*="datetimepicker-dropdown-top"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #ccc;
	border-top-color: rgba(0, 0, 0, 0.2);
	border-bottom: 0
}
[class*="datetimepicker-dropdown-top"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
	border-bottom: 0
}
.datetimepicker-dropdown-bottom-left:before {
	top: -7px;
	right: 6px
}
.datetimepicker-dropdown-bottom-left:after {
	top: -6px;
	right: 7px
}
.datetimepicker-dropdown-bottom-right:before {
	top: -7px;
	left: 6px
}
.datetimepicker-dropdown-bottom-right:after {
	top: -6px;
	left: 7px
}
.datetimepicker-dropdown-top-left:before {
	bottom: -7px;
	right: 6px
}
.datetimepicker-dropdown-top-left:after {
	bottom: -6px;
	right: 7px
}
.datetimepicker-dropdown-top-right:before {
	bottom: -7px;
	left: 6px
}
.datetimepicker-dropdown-top-right:after {
	bottom: -6px;
	left: 7px
}
.datetimepicker td, .datetimepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	border: none
}
.table-striped .datetimepicker table tr td, .table-striped .datetimepicker table tr th {
	background-color: transparent
}
.datetimepicker table tr td.old, .datetimepicker table tr td.new {
	color: #999
}
.datetimepicker table tr td.disabled, .datetimepicker table tr td.disabled:hover {
	background: none;
	color: #999;
	cursor: default
}
.datetimepicker table tr td.today, .datetimepicker table tr td.today:hover, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today.disabled:hover {
	background-color: #fde19a;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
	background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)
}
.datetimepicker table tr td.today:hover, .datetimepicker table tr td.today:hover:hover, .datetimepicker table tr td.today.disabled:hover, .datetimepicker table tr td.today.disabled:hover:hover, .datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active, .datetimepicker table tr td.today.disabled, .datetimepicker table tr td.today:hover.disabled, .datetimepicker table tr td.today.disabled.disabled, .datetimepicker table tr td.today.disabled:hover.disabled, .datetimepicker table tr td.today[disabled], .datetimepicker table tr td.today:hover[disabled], .datetimepicker table tr td.today.disabled[disabled], .datetimepicker table tr td.today.disabled:hover[disabled] {
	background-color: #fdf59a
}
.datetimepicker table tr td.today:active, .datetimepicker table tr td.today:hover:active, .datetimepicker table tr td.today.disabled:active, .datetimepicker table tr td.today.disabled:hover:active, .datetimepicker table tr td.today.active, .datetimepicker table tr td.today:hover.active, .datetimepicker table tr td.today.disabled.active, .datetimepicker table tr td.today.disabled:hover.active {
	background-color: #fbf069 \9
}
.datetimepicker table tr td.active, .datetimepicker table tr td.active:hover, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active.disabled:hover {
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image: -webkit-linear-gradient(top, #08c, #04c);
	background-image: linear-gradient(to bottom, #08c, #04c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}
.datetimepicker table tr td.active:hover, .datetimepicker table tr td.active:hover:hover, .datetimepicker table tr td.active.disabled:hover, .datetimepicker table tr td.active.disabled:hover:hover, .datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active, .datetimepicker table tr td.active.disabled, .datetimepicker table tr td.active:hover.disabled, .datetimepicker table tr td.active.disabled.disabled, .datetimepicker table tr td.active.disabled:hover.disabled, .datetimepicker table tr td.active[disabled], .datetimepicker table tr td.active:hover[disabled], .datetimepicker table tr td.active.disabled[disabled], .datetimepicker table tr td.active.disabled:hover[disabled] {
	background-color: #04c
}
.datetimepicker table tr td.active:active, .datetimepicker table tr td.active:hover:active, .datetimepicker table tr td.active.disabled:active, .datetimepicker table tr td.active.disabled:hover:active, .datetimepicker table tr td.active.active, .datetimepicker table tr td.active:hover.active, .datetimepicker table tr td.active.disabled.active, .datetimepicker table tr td.active.disabled:hover.active {
	background-color: #003399 \9
}
.datetimepicker .datetimepicker-hours table tr td span.hour_am, .datetimepicker .datetimepicker-hours table tr td span.hour_pm {
	width: 14.6%
}
.datetimepicker .datetimepicker-hours fieldset legend, .datetimepicker .datetimepicker-minutes fieldset legend {
	margin-bottom: inherit;
	line-height: 30px
}
.datetimepicker table tr td span.disabled, .datetimepicker table tr td span.disabled:hover {
	background: none;
	color: #999;
	cursor: default
}
.datetimepicker table tr td span.active, .datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active.disabled:hover {
	background-color: #006dcc;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
	background-image: -webkit-linear-gradient(top, #08c, #04c);
	background-image: linear-gradient(to bottom, #08c, #04c);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #04c #04c #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}
.datetimepicker table tr td span.active:hover, .datetimepicker table tr td span.active:hover:hover, .datetimepicker table tr td span.active.disabled:hover, .datetimepicker table tr td span.active.disabled:hover:hover, .datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active, .datetimepicker table tr td span.active.disabled, .datetimepicker table tr td span.active:hover.disabled, .datetimepicker table tr td span.active.disabled.disabled, .datetimepicker table tr td span.active.disabled:hover.disabled, .datetimepicker table tr td span.active[disabled], .datetimepicker table tr td span.active:hover[disabled], .datetimepicker table tr td span.active.disabled[disabled], .datetimepicker table tr td span.active.disabled:hover[disabled] {
	background-color: #04c
}
.datetimepicker table tr td span.active:active, .datetimepicker table tr td span.active:hover:active, .datetimepicker table tr td span.active.disabled:active, .datetimepicker table tr td span.active.disabled:hover:active, .datetimepicker table tr td span.active.active, .datetimepicker table tr td span.active:hover.active, .datetimepicker table tr td span.active.disabled.active, .datetimepicker table tr td span.active.disabled:hover.active {
	background-color: #003399 \9
}
.datetimepicker thead tr:first-child th, .datetimepicker tfoot tr:first-child th {
	cursor: pointer
}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover {
	background: #eee
}
.input-append.date .add-on i, .input-prepend.date .add-on i, .input-group.date .input-group-addon span {
	cursor: pointer;
	width: 14px;
	height: 14px
}
.app-config {
	width: 488px;
	position: fixed;
	top: 70px;
	right: 0;
	bottom: 0;
	background: #fff;
	z-index: 101;
	padding: 20px;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: -webkit-transform .3s ease-in;
	transition: transform .3s ease-in;
	overflow: auto
}
.app-config__page {
	width: 294px
}
.app-config.active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.app-config .timer-loader {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	margin: auto
}
.app-config-item {
	border-bottom: 1px solid #d5dbe5;
	margin-bottom: 15px
}
.app-config-item:nth-last-child(1) {
	border-bottom: none
}
.app-config-item_hd {
	line-height: 24px;
	height: 24px;
	position: relative;
	padding-left: 22px;
	margin-bottom: 18px;
	z-index: 1;
	background: #fff;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none
}
.app-config-item_hd .icon-arrow {
	width: 30px;
	height: 30px;
	position: absolute;
	top: -3px;
	left: -4px;
	-webkit-transform: rotate(-90deg) translateZ(0);
	transform: rotate(-90deg) translateZ(0);
	-webkit-transition: -webkit-transform .3s linear;
	transition: transform .3s linear
}
.app-config-item_bd {
	position: relative;
	z-index: 0;
	display: none;
	padding-bottom: 20px
}
.app-config-item_bd .width__mini {
	width: 80px
}
.app-config-item_bd .width__short {
	width: 130px
}
.app-config-item_bd .width__mid {
	width: 160px
}
.app-config-item_inner {
	float: left;
	margin-left: 22px
}
.app-config-item_checkbox {
	float: left;
	margin-right: 20px
}
.app-config-item__active .app-config-item_hd .icon-arrow {
	-webkit-transform: rotate(0deg) translateZ(0);
	transform: rotate(0deg) translateZ(0)
}
.app-config-item__active .app-config-item_bd {
	display: block
}
.app-config-dib-checkbox {
	width: 48px
}
.app-config-dib-input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	position: relative
}
.app-config-dib-delete {
	width: 30px;
	height: 30px;
	position: absolute;
	right: -3px;
	top: 50%;
	margin-top: -15px;
	cursor: pointer
}
.mod-settings-dib-input {
	width: 100px
}
.mod-settings-dib-input__color {
	width: 70px;
	margin-right: 10px
}
.ctrl-row {
	line-height: 26px;
	margin-bottom: 14px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.ctrl-row .title {
	width: 76px;
	height: 26px;
	color: #666681;
	font-size: 14px;
	font-weight: 400
}
.ctrl-row .box {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.ctrl-row .box:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.multi-row {
	line-height: 26px;
	margin-bottom: 14px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.multi-row .title {
	width: 100%;
	height: 26px;
	color: #666681;
	font-size: 14px;
	font-weight: 400;
	display: block
}
.multi-row .box {
	width: 100%
}
.multi-row .box:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
.mod-img-info:after {
	content: "";
	height: 0;
	clear: both;
	overflow: hidden;
	display: table
}
.mod-img-info_img {
	float: left;
	width: 80px;
	height: 124px;
	margin-right: 20px;
	position: relative;
	border: 2px solid #ccc
}
.mod-img-info_img.all {
	width: 124px
}
.mod-img-info_img .img {
	width: 100%;
	height: 120px;
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover
}
.mod-img-info_img .title {
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	line-height: 28px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer
}
.mod-img-info_img .icon-clean {
	position: absolute;
	right: -3px;
	top: -3px;
	width: 30px;
	height: 30px;
	z-index: 1;
	cursor: pointer
}
.mod-img-info_info {
	overflow: hidden
}
.ind-input {
	font-size: 14px;
	height: 26px;
	line-height: 26px
}
.ind-input input {
	width: 100%;
	padding: 0 4px;
	height: 26px;
	line-height: 24px;
	background: transparent;
	border: 1px solid #d5dbe5
}
.ind-input input:focus {
	outline: #5ccd0b solid 2px;
	background: #f6ffef
}
.ind-textarea {
	font-size: 14px
}
.ind-textarea textarea {
	width: 100%;
	line-height: 26px;
	height: 74px;
	resize: none;
	background: transparent;
	overflow: auto;
	padding: 0 4px;
	border: 1px solid #d5dbe5
}
.ind-textarea textarea:focus {
	outline: #5ccd0b solid 2px;
	background: #f6ffef
}
.ind-select {
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	position: relative
}
.ind-select:after {
	content: "";
	width: 30px;
	height: 30px;
	background: url("/img/v2/sprites.png") no-repeat -120px -120px;
	position: absolute;
	right: -3px;
	top: -2px
}
.ind-select select {
	-webkit-appearance: none;
	width: 100%;
	height: 26px;
	line-height: 24px;
	padding: 0 4px;
	background: transparent;
	border: 1px solid #d5dbe5;
	border-radius: 0;
	text-align: center;
	cursor: pointer
}
.ind-select select:focus {
	outline: #5ccd0b solid 2px
}
.ind-radio {
	margin-bottom: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer
}
.ind-radio input[type="radio"] {
	-webkit-appearance: none;
	display: inline-block;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	position: relative;
	border: 1px solid #d5dbe5;
	border-radius: 2px;
	margin: 0 8px 0 0;
	cursor: pointer
}
.ind-radio input[type="radio"]:checked {
	border-color: #5ccd0a;
	background-color: #5ccd0a
}
.ind-radio input[type="radio"]:checked:after {
	content: "";
	width: 18px;
	height: 18px;
	position: absolute;
	top: -1px;
	left: -1px;
	z-index: 1;
	background: url("/img/v2/sprites.png") no-repeat -96px -126px
}
.ind-radio input[type="radio"]:focus {
	outline: none
}
.ind-radio_txt {
	font-size: 14px;
	vertical-align: middle;
	color: #666681
}
.ind-checkbox {
	margin-bottom: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.ind-checkbox input[type="checkbox"] {
	-webkit-appearance: none;
	display: inline-block;
	width: 40px;
	height: 18px;
	vertical-align: middle;
	position: relative;
	border: 1px solid #d5dbe5;
	background-color: #fff;
	border-radius: 18px;
	margin: 0 8px 0 0;
	cursor: pointer
}
.ind-checkbox input[type="checkbox"]:after {
	content: "";
	width: 10px;
	height: 10px;
	position: absolute;
	left: 4px;
	top: 3px;
	z-index: 1;
	border: 1px solid #d5dbe5;
	border-radius: 10px;
	background-color: #fff;
	-webkit-transition: -webkit-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0)
}
.ind-checkbox input[type="checkbox"]:checked {
	border-color: #5ccd0a
}
.ind-checkbox input[type="checkbox"]:checked:after {
	border-color: #5ccd0a;
	background-color: #5ccd0a;
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0)
}
.ind-checkbox input[type="checkbox"]:disabled {
	cursor: not-allowed
}
.ind-checkbox input[type="checkbox"]:focus {
	outline: none
}
.ind-checkbox_txt {
	font-size: 14px;
	margin: 0 8px 0 0;
	color: #666681
}
.ind-slider {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.ind-slider .ui-slider {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	margin-right: 14px;
	height: 6px !important;
	border-color: #d0d3da !important
}
.ind-slider .ui-slider-range {
	height: 6px !important;
	background: #5ccd0b !important;
	top: -1px;
	left: -1px
}
.ind-slider .ui-slider-handle {
	width: 18px !important;
	height: 18px !important;
	border-radius: 10px !important;
	border: 1px solid #5ccd0b !important;
	top: -7px;
	margin-left: -7px;
	background: #fff
}
.ind-slider .ui-slider-handle:focus {
	outline: none
}
.ind-slider .ui-state-focus, .ind-slider .ui-state-hover, .ind-slider .ui-state-active {
	border-color: #5ccd0b !important;
	background: #5ccd0b !important
}
.ind-slider .slider-ipt {
	font-size: 14px;
	width: 62px;
	padding: 0 4px;
	height: 26px;
	line-height: 24px;
	background: transparent;
	border: 1px solid #d5dbe5;
	vertical-align: middle
}
.ind-slider .slider-ipt:focus {
	outline: #5ccd0b solid 2px
}
.ind-upload {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}
.ind-upload input {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	padding: 0 4px;
	height: 26px;
	line-height: 24px;
	background: transparent;
	border: 1px solid #d5dbe5
}
.ind-upload input:focus {
	outline: #5ccd0b solid 2px;
	background: #f6ffef
}
.ind-upload .ind-btn {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	width: 80px
}
.ind-btn {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	display: block;
	height: 26px;
	line-height: 26px;
	background-color: #b7bdc7;
	color: #fff;
	text-align: center;
	font-size: 14px;
	border: none;
	padding: 0
}
.ind-btn:hover, .ind-btn:focus {
	background-color: #5ccd0a;
	color: #fff;
	text-decoration: none;
	outline: none
}
.ind-opt {
	display: inline-block;
	height: 28px;
	padding: 0 8px;
	margin: 0 4px 0 0;
	line-height: 28px;
	background-color: #b7bdc7;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 14px
}
.ind-opt__active, .ind-opt:hover, .ind-opt:focus {
	background-color: #5ccd0a;
	color: #fff;
	text-decoration: none;
	outline: none
}
.ind-rich-box .edui-editor div {
	line-height: 1
}
.ind-code {
	height: 320px;
	overflow: auto
}
.controls-box {
	width: 388px;
	position: relative;
	overflow: auto
}